.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  text-align: center;
  white-space: pre-line;
}

p#created {
  font-size: 8pt;
  text-align: right;
}

span#currentId {
  padding: 5px;
}

.img-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 42vh;
  min-height: 21vh;
  max-height: 42vh;
  overflow: hidden;
}
.img-wrapper img {
  width: 20vh;
  height: 20vh;
  border: 1px solid #ddd;
  object-fit: cover;
  border-radius: 5px;
  /* cursor: pointer; */
}

.modal {
  visibility: hidden;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
  user-select: none;
}
.modal.toggle {
  visibility: visible;
}
.modal .modal-background{
  position: fixed;
  background-color: black;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.modal .modal-box {
  position: fixed;
  top: 0;
  width: 80vw;
  height: 100vh;
  border-radius: 10px;
  background-color: white;
  line-height: 100vh;
  z-index: 3;
}
.modal .modal-box img {
  max-width: 75vw;
  max-height: 95vh;
  border: 1px solid #ccc;
  vertical-align: -webkit-baseline-middle;
}